@model List<DanaZhangCms.Models.Article>
@{
    ViewData["Title"] = "新闻中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/css/new/list/learning.css" rel="stylesheet" />
}
<div class="whole_list" style="padding-top: 80px;">
    <div class="common_containe">
        <div class="list_top">
            <i></i>
            <a href="#">首页 > </a>
            <a href="#">学术交流 </a>
        </div>

        <div class="list_main common_containe">
            <ul id="pageMain">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <div class="list_current">
                                <div class="common_containe">
                                    <span>
                                        <a href="javascript:;">
                                            <div class="img_box">
                                                <img src="@item.ImgUrl">
                                            </div>
                                            <p>@item.Title</p>
                                            <span>@item.CreatedDate</span>
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </li>

                      
                    }
                }

            </ul>
            <div id="pageBox">
                <span id="prev">上一页</span>
                <ul id="pageNav"></ul>
                <span id="next">下一页</span>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        var total = '@(ViewBag.Total)';
        var pageUrl = "@(Url.Action("Index", "Article"))";
    </script>
    <script src="~/js/new/list/learning.js"></script>

}
