@{
    var workContext = ViewBag.WorkContext as DanaZhangCms.ViewModels.WebWorkContext;
    List<Product> productList = ViewBag.ProductList;
    List<ProductCategory> cateList = ViewBag.CategoryList;
}

<!DOCTYPE html>
<html>
<head>
    <title>@Html.Raw(ViewBag.SeoTitle)</title>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="@Html.Raw(ViewBag.SeoDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.SeoKeyword)" />
    <meta name="generator" content="" data-variable="" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/new/first.css" rel="stylesheet" />

    <script src="/js/new/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/js/new/vue.js" type="text/javascript"></script>
    <script src="/js/new/header.js"></script>
    @RenderSection("css", required: false)

</head>
<body>
    <div class="nav" ref="dataCon">
        <div class="common_containe" ref="pageContainer">
            <div class="logo">
                <a href="/home"> <img src="/images/logo1.png"></a>

            </div>
            <div class="list">
                <ul>
                    @if (cateList != null && cateList.Any())
                    {
                        foreach (var cate in cateList)
                        {
                            var proList = productList.Where(p => p.CategoryId == cate.Id).OrderBy(o => o.IsHot).ToList();
                    <li>
                        <a href="/english/Product?categoryId=@cate.Id">
                            <span>@cate.NameEn</span>
                        </a>
                        <div class="list_box">
                            <div class="navlist_current">
                                <div class="common_containe nav_pageMain">
                                    @foreach (var pro in proList)
                                            {
                                    <span>
                                        <a href="/english/proDetail?Id=@pro.Id">
                                            <div class="img_box">
                                                <img src="@pro.ImgUrl" title="@pro.NameEn"> <img v-show="@pro.IsHot" class="hot" src="/images/sale.png" />
                                            </div>
                                            <p>@pro.NameEn @pro.Model1</p>
                                        </a>
                                    </span>
                                            }
                                </div>
                                <div class="common_containe">
                                    <div class="nav_pageBox">
                                        <img class="nav_prev" src="/images/page_left.png">
                                        <img class="nav_next" src="/images/page_right.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                        }
                    }

                    <li>
                        <a href="/english/contact" target="_blank">
                            <span>CONTACT</span>
                        </a>
                        <div class="lianxi">
                            <a href="/english/about" target="_blank"><span>Company profile  </span></a>
                            <span>Company advantages</span>
                            <span>Customers</span>
                            <a href="/english/article" target="_blank"> <span>NEWS</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="search">
                <p><img src="/images/sousuo.png"></p>
                <div class="chiness">中</div>
            </div>
            <div class="search_input">
                <div class="search_zhezhao"></div>
                <div class="search_box">
                    <input type="text" id="keyword" name="keyword" placeholder="Enter a Keyword" />
                    <div>
                        <img class="searchgoods" src="images/sousuo.png">
                    </div>
                </div>
            </div>
            <div class="text"></div>
        </div>
    </div>


    @RenderBody()



<div class="footer_box">
    <div class="footer_main">
        <div class="foot_box common_containe">
            <div class="foot_left">
                <dl>
                    <dt>CONTACT</dt>
                    <dd><a href="/english/contact">Product Consultation </a></dd>
                    <dd><a href="/english/contact">Service Consultation</a></dd>
                    <dd><a href="/english/contact">Cooperation Consultation</a></dd>
                </dl>
                <dl>
                    <dt>SERVICES&SUPPORT</dt>
                    <dd><a href="#">Installation Training</a></dd>
                    <dd><a href="#">Maintenance</a></dd>
                    <dd><a href="/english/download">Data Download</a></dd>
                </dl>
                <dl>
                    <dt>News&Notices </dt>
                    <dd><a href="/english/article">Academic Exchange</a></dd>
                    <dd><a href="/english/download">Research and Standard</a></dd>
                    <dd><a href="/english/article">Company News</a></dd>
                </dl>
                <dl>
                    <dt>ABOUT US</dt>
                    <dd><a href="/english/about">Company Profile</a></dd>
                    <dd><a href="/english/about">Company Honor</a></dd>
                    <dd><a href="#">Careers</a></dd>
                </dl>
                <dl>
                    <dt>Official Social Media Accounts</dt>
                    <dd><a href="#">WeChat Official Account</a></dd>
                    <dd><a href="http://mp.sohu.com/profile?xpt=OTVjZWVmNWQtNmNjMi00NGRhLWI4NzEtMmEzMTQ3MGRiNjll">Sohu</a></dd>
                    <dd><a href="#">Tiktok</a></dd>
                </dl>
            </div>
            <div class="foot_right">
                <img src="/images/ewm.jpg">
                <span>subscribe the Wechat public number</span>
            </div>
        </div>

    </div>
    <div class="foot_wrap">
        <div class="footer">
            <ul>
                <li>
                    <div><img src="/images/sign1.png"></div>
                    <span>ational high tech enterprise</span>
                </li>
                <li>
                    <div><img src="/images/sign2.png"></div>
                    <span>HangZhou High Tech Enterprise</span>
                </li>
                <li>
                    <div><img src="/images/sign3.png"></div>
                    <span>ISO9001 certification</span>
                </li>

            </ul>
            <div class="right">
                <p><a style="color:white" href="http://beian.miit.gov.cn">Copyright © Jianyanhua testing (Hangzhou) Technology Co., Ltd. </a></p>

                <p>Address: No. 3089, nanxiu Road, Xintang street, Xiaoshan District, Hangzhou City, Zhejiang</p>
                <p>Province, China. zip code: 311200</p>
                <p>
                    Tel:： 0571-82875561/82755615
                </p>
            </div>

        </div>
    </div>
</div>


    @RenderSection("Scripts", required: false)

</body>

</html>
