@model DanaZhangCms.ViewModels.ProductView
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> imglist = new List<string>();

    if (!string.IsNullOrWhiteSpace(Model.Product.ImgUrl))
    {
        imglist.Add(Model.Product.ImgUrl);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner1))
    {
        imglist.Add(Model.Product.Banner1);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner2))
    {
        imglist.Add(Model.Product.Banner2);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner3))
    {
        imglist.Add(Model.Product.Banner3);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner4))
    {
        imglist.Add(Model.Product.Banner4);
    }

}

@section css{
    <link href="~/css/new/details/introduce_details.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/new/swiper.min.css" />
    <style type="text/css">
        .det_banner .swiper-button-next {
            background-image: url("/images/details/jian_right.png");
            background-size: 100%;
        }

        .det_banner .swiper-button-prev {
            background-image: url("/images/details/jian_left.png");
            background-size: 100%;
        }

        .par_main img {
            display: inline-table;
        }
        .guige_box img {
            width: 99%;
        }
        .peizhi_content img {
            width: 99%;
        }
        .introduce_banner img {
            display: block;
        }
       
    </style>
}
<div class="introduce_details">
    <div class="common">
        <div class="introduce_title">
            <h1>@Model.Product.Model1 @Model.Product.Name</h1>
            <h2> @Model.Product.Tag</h2>
        </div>
        <div class="introduce_banner">
            <img src="@Model.Product.ImgUrl" width="100%">
        </div>
    </div>
    <div class="zhanwei"></div>
    <div class="introduce_nav">
        <div class="common">
            <div class="title_cp">@Model.Product.Model1 @Model.Product.Name</div>
            <ul>
                @if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl))
                {
                <li> <a class="introduceLi" navTo="shipin">视频观看</a></li>
                }
                <li> <a class="introduceLi" navTo="guige">规格参数</a></li>
                @if (Model.Downfiles != null && Model.Downfiles.Any())
               {
                <li><a class="introduceLi" navTo="xiazai">相关下载</a></li>
                }
                <li><a class="introduceLi" navTo="peizhi">产品配置</a></li>
            </ul>
        </div>
    </div>
    <div class="introduce_content">
        @if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl))
         {
        <div class="video_content louti common" id="shipin">
            <h3>视频观看</h3>
            <ul class="introduce_video">
                <li>
                    @if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl) && !Model.Product.VedioUrl.Contains("https://"))
                    {
                    <video width="100%" controls autoplay>
                        <source src="@Model.Product.VedioUrl" type="video/mp4">
                    </video>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl))
                    {

                    <iframe height="590" width="980" id="video" src="@Model.Product.VedioUrl" frameborder="0" allowfullscreen=""></iframe>
                    }

                </li>

            </ul>

        </div>
        }

        <div class="introduce_guige louti" id="guige">
            <div class="common">
                <h3>规格参数</h3>
                <div class="guige_box">
                    @if (Model.Details != null && Model.Details.Any())
                    {
                        foreach (var item in Model.Details)
                        {
                    <div>
                        <div class="guige_left">
                            @item.Title
                        </div>
                        <div class="guige_right">
                            @Html.Raw(item.Content)
                        </div>
                    </div>
                        }
                    }


                </div>
            </div>
        </div>
        @if (Model.Downfiles != null && Model.Downfiles.Any())
         {
        <div class="introduce_xiazai louti common" id="xiazai">

            <h3> 相关下载 </h3>
            @if (Model.Downfiles != null && Model.Downfiles.Any())
            {
                foreach (var item in Model.Downfiles)
                {
            <div class="xiazai_box">
                <div class="xiazai_left"> @item.Title</div>

                <div class="xiazai_right">

                    <ul>

                        <li>

                            <p>@(item.FileName).pdf </p>
                            <a href="@item.FilePath" target="_blank"><img class="yulam_icon" src="/images/yulan.png"></a>
                            <img class="xiazai_icon" data-id="@item.FilePath" data-name="@(item.FileName).pdf" src="/images/xiazai.png">
                        </li>
                    </ul>
                </div>
            </div>
                }
            }
        </div>
        }

        <div class="introduce_peizhi louti common" id="peizhi">
            <h3>产品配置</h3>
            <div class="peizhi_content">
                @Html.Raw(Model.Product.Content)
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/new/swiper.min.js" type="text/javascript"></script>
    <script src="~/js/new/details/introduce_details.js"></script>
}