@model DanaZhangCms.ViewModels.ProductView
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    List<string> imglist = new List<string>();

    if (!string.IsNullOrWhiteSpace(Model.Product.ImgUrl))
    {
        imglist.Add(Model.Product.ImgUrl);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner1))
    {
        imglist.Add(Model.Product.Banner1);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner2))
    {
        imglist.Add(Model.Product.Banner2);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner3))
    {
        imglist.Add(Model.Product.Banner3);
    }

    if (!string.IsNullOrWhiteSpace(Model.Product.Banner4))
    {
        imglist.Add(Model.Product.Banner4);
    }

}

@section css{
    <link href="~/css/new/details/introduce_details.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/new/swiper.min.css" />
    <style type="text/css">
        .det_banner .swiper-button-next {
            background-image: url("/images/details/jian_right.png");
            background-size: 100%;
        }

        .det_banner .swiper-button-prev {
            background-image: url("/images/details/jian_left.png");
            background-size: 100%;
        }

        .par_main img {
            display: inline-table;
        }
    </style>
}
<div class="introduce_details">
    <div class="common_containe">
        <div class="introduce_banner">
            <img src="@Model.Product.ImgUrl" width="100%">
        </div>
    </div>
    <div class="introduce_nav">
        <div class="common_containe">
            <div class="title_cp">@Model.Product.Model1 @Model.Product.Name</div>
            <ul>
                <li><a href="#shipin">视频观看</li>
                <li><a href="#guige">规格参数</li>
                <li><a href="#xiazai">相关下载</li>
                <li><a href="#chanpin">产品配置</li>
            </ul>
        </div>
    </div>
    <div class="introduce_content">
        <a name="shipin">
            <div class="video_content louti common_containe">
                <h3>视频观看</h3>
                <ul class="introduce_video">
                    <li>
                        @if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl) && !Model.Product.VedioUrl.Contains("https://"))
                        {
                            <video width="100%" controls autoplay>
                                <source src="@Model.Product.VedioUrl" type="video/mp4">
                            </video>
                        }
                        else if (!string.IsNullOrWhiteSpace(Model.Product.VedioUrl))
                        {

                            <iframe height="590" width="980" id="video" src="@Model.Product.VedioUrl" frameborder="0" allowfullscreen=""></iframe>
                        }

                    </li>
                    @*<li>
                            <video width="100%" controls autoplay>
                                <source src="../images/details/movie2.mp4" type="video/mp4">
                            </video>
                        </li>*@
                </ul>
                <div class="video_box">
                    <div>
                        <div class="video_img">
                            <img class="tupian" src="@Model.Product.ImgUrl">
                            <img class="zanting" src="/images/details/video_img.png">
                        </div>
                        @*<p>测缺功能演示</p>*@
                    </div>
                    @*<div>
                            <div class="video_img">
                                <img class="tupian" src="../images/video/img.jpg">
                                <img class="zanting" src="../images/details/video_img.png">
                            </div>
                            <p>操作方式演示</p>
                        </div>*@
                </div>
            </div>
        </a>
        <a name="guige">
            <div class="introduce_guige louti">
                <div class="common_containe">
                    <h3>规格参数</h3>
                    <div class="guige_box">
                        @if (Model.Details != null && Model.Details.Any())
                        {
                            foreach (var item in Model.Details)
                            {
                                <div>
                                    <div class="guige_left">
                                        @item.Title
                                    </div>
                                    <div class="guige_right">
                                        @Html.Raw(item.Content)
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
        </a>
        <a name="xiazai">

            <div class="introduce_xiazai louti common_containe">

                <h3> 相关下载 </h3>
                @if (Model.Downfiles != null && Model.Downfiles.Any())
                {
                    foreach (var item in Model.Downfiles)
                    {
                       
                        <div class="xiazai_box">

                            <div class="xiazai_left"> @item.Title</div>

                            <div class="xiazai_right">

                                <ul>

                                    <li>

                                        <p>@(item.FileName).pdf </p>
                                        <a href="@item.FilePath" target="_blank"><img class="yulam_icon" src="/images/yulan.png"></a>
                                        <img class="xiazai_icon" data-id="@item.FilePath" data-name="@(item.FileName).pdf" src="/images/xiazai.png">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </a>
        <a name="chanpin">
            <div class="introduce_peizhi louti common_containe">
                <h3>产品配置</h3>
                <div class="peizhi_content">
                    @Html.Raw(Model.Product.Content)
                </div>
            </div>
        </a>
    </div>
</div>
@section Scripts{
    <script src="/js/new/swiper.min.js" type="text/javascript"></script>
    <script src="~/js/new/details/introduce_details.js"></script>
}