@model DanaZhangCms.Models.Contents
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SysLayout.cshtml";

}
<form class="layui-form" action="@(Model.Id<1? Url.Action("Add"):Url.Action("Edit"))">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.Type)
    <div class="layui-form-item">

        @Html.LabelFor(model => model.Title, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            @Html.TextBoxFor(model => model.Title, new { @class = "layui-input", @required = "", @lay_verify = "required", autocomplete = "off" })

        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>

        </div>
    </div>
    <div class="layui-form-mid layui-word-aux">
        <span class="x-red"></span>

    </div>

    <div class="layui-form-item">

        @Html.LabelFor(model => model.SortId, new { @class = "layui-form-label" })
        <div class="layui-input-inline">
            @Html.TextBoxFor(model => model.SortId, new { @class = "layui-input", @required = "", @lay_verify = "required", autocomplete = "off" })

        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>

        </div>
    </div>

    @if (Model.ProductId == 0)
    {

        <div class="layui-form-item">

            @Html.LabelFor(model => model.SpellName, new { @class = "layui-form-label" })
            <div class="layui-input-inline">
                @Html.TextBoxFor(model => model.SpellName, new { @class = "layui-input", @required = "", @lay_verify = "required", autocomplete = "off" })

            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>

            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.SpellName)

        @if (Model.Type == "相关下载" || Model.Type == "1")
        {
            <div class="layui-form-item">

                @Html.LabelFor(model => model.FileName, new { @class = "layui-form-label" })
                <div class="layui-input-inline">
                    @Html.TextBoxFor(model => model.FileName, new { @class = "layui-input", autocomplete = "off" })

                </div>

            </div>

            <div class="layui-form-item">
                @Html.LabelFor(model => model.FilePath, new { @class = "layui-form-label" })
                <div class="layui-input-inline">
                    <div class="uploadPreview" id="PreviewImg">
                        @if (!string.IsNullOrEmpty(Model.FilePath))
                        {
                            <input type="text" class="layui-input" disabled value="@Model.FilePath" />
                        }
                        else
                        {
                            @:暂无文件
                        }
                    </div>
                    <div class="left">
                        <div class="uploadProgressBar"></div>
                        <div id="UploadImg" class="uploadBut">选择文件</div>
                    </div>
                    <div class="clear"></div>
                </div>
                @Html.HiddenFor(x => x.FilePath)

            </div>
        }

    }

    <div class="layui-form-item">

        @Html.LabelFor(model => model.Content, new { @class = "layui-form-label" })
        <div class="layui-input-inline" style="width:600px;min-height:300px;">

            <script id="Content" name="Content" type="text/plain">
                        @Model.Content
            </script>
            <input type="hidden" name="Content1" id="Content1" value="@Model.Content" />
        </div>

    </div>

    <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button class="layui-btn" lay-filter="add" lay-submit="">
            保存
        </button>
    </div>
</form>
@section Scripts{

    <style>
        .review {
            cursor: pointer;
            color: burlywood;
        }

        .ck-content {
            max-height: 400px;
            height: 400px;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/lib/webuploader/webuploader.css" />
    <script type="text/javascript" src="/lib/webuploader/webuploader.js"></script>

    <script src="/lib/ueditor/ueditor.config.js"></script>
    <script src="/lib/ueditor/ueditor.all.min.js"></script>
    <script>
        var ue = UE.getEditor('Content', {
            initialFrameHeight: 300
        });
        var oldhtml = $("#Content1").val();

        ue.ready(function () {
            ue.setContent(oldhtml);
        });

        var uploader = WebUploader.create({
            pick: '#UploadImg',
            auto: true,
            swf: '/lib/webuploader/Uploader.swf',
            server: '/tool/upload?operation=bimage',
            fileVal: 'upload',
            accept: {
                title: 'pdf',
                mimeTypes: 'pdf/*'
            },

        });

        uploader.on('uploadProgress', function (file, percentage) {
            $("#PreviewImg").html("上传中...");
        });

        uploader.on('uploadSuccess', function (file, response) {
            var data = eval("(" + response._raw + ")");;
            if (!data.uploaded) {
                $("#PreviewImg").html(data.url);
            }

            else {
                $("#PreviewImg").html("<a class='review' src=\"" + data.url + "\"  >上传成功</a>");
                $("#FilePath").val(data.url);
            }
        });

        uploader.on('uploadError', function (file) {
            $("#PreviewImg").html("上传失败");
        });
        $(function () {
            layui.use('form', function () {
                var form = layui.form;
                form.on('submit(add)', function (data) {
                    var url = $(".layui-form").attr("action");
                    //  debugger;
                    //data.field.Content=editor.getData();
                    //$("#Content").val(editor.getData());
                    $.ajax({
                        url: url,
                        data: $("form").serialize(),
                        type: "post",
                        success: function (rep) {
                            if (rep.success == true) {
                                layer.msg(rep.msg, function () {
                                    x_admin_close();
                                });
                            }
                            else {
                                layer.alert(rep.msg, { icon: 5 });
                            }

                        },
                        error: function () {
                            layer.alert("网络错误，请稍候再试。", { icon: 5 });
                        }
                    });


                    return false;
                });
            });
        })


    </script>
}